body {
    background-color: #000 !important;
}
.st {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.progress {
    
}
.st-main-in .st-cont {
    display: inline-block;
    width: 100%;
}
.progress {
    height: 40px !important;
    width: 60%;
    margin: 0 auto 20px;
    background-color: #fff !important;
    border: 1px solid gray;
    border-radius: 0 !important;
}
div#htmlval1, #htmlval2, #htmlval3 {
    background-color: lightblue;
    font-size: 20px;
    /*width: 100% !important;*/
    padding-top: 9px;
    color: #000;
}
